body{
    font-family: 'Dekko';
    background-color: beige;
    text-align: center;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.timer{
    flex: 0 0 50%;
    display: flex;
    line-height: 30px;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
}

#countdown{
    font-size: 100px;
    border: 5px solid black;
    width: 30%;
    padding:60px;
}

.settings{
    display: flex;
    height: 400px;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playPause{
    font-family: 'Dekko';
    font-size: 30px;
    border: none;
    padding: 12px 120px;
    border-radius: 4px;
    color: white;
    background-color: darksalmon;
}

.bear{
    flex: 0 0 50%;
}

.playlist{
    flex: 0 0 50%;
}