body{
    background-color: beige;
    text-align: center;
}

.flex-container{
    display: flex;
}

.timer{
    flex: 1 1 auto;
    display: flex;
  align-items: center;
  justify-content: center;
    background-color: red;
    align-items: center;
  justify-content: center;
}

#countdown{
    vertical-align: center;
    font-size: 100px;
    border: 5px solid black;
    width: 90%;
    height: 90%;
}

.settings{
    background-color: aquamarine;
    flex: 1 1 auto;
}
#playPause{
    
    border: none;
    padding: 12px 30px;
    border-radius: 4px;
    color: white;
    background-color: darksalmon;
}